<h1>Stupid Coach</h1>
<p>Hello, I am your coach, what did you want to tell me?</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="your_message">
  <input type="submit" value="Ask!">
</form>
